body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    background: #f7f7f7;
    display: grid;
    gap: 60px; /*distância entre os elementos na vertical*/
    justify-items: center; /*alinha itens ao centro*/
    margin-top: 60px;  /*Distância do topo*/
}

img{
    max-width: 100%; /*Limita tamanho da imagem de acordo com a tela*/
    display: block;
}

a{
    text-decoration: none;
}

p, h1, h2, h3{
    margin: 0px; /*resetando css*/
}

p{
    font-size: 1.25rem;
    line-height: 1.3; /*Distância entre as linhas*/
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header{
    display: grid;
    justify-items: center;
    gap: 60px;
}    

.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /*Permite quebrar o conteudo ao diminuir a tela*/
    justify-content: center; /*permite alinhar ao centro quando quebrar*/
}   
.menu a{
    display: block;
    background: #ffffff;
    padding: 1rem 2rem; /*15 pra cima e pra baixo, 30px pros lados*/
    border-radius: 4px; /*arredondamento de borda*/
    color: black;
    border: 2px solid #fff;
}
.menu a:hover{
    border-color:#e21;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr; /*dividiu em duas colunas*/
    max-width: 1000px; /*Limite pro conteúdo*/
}
.introducao{
    display: grid; /*Muda comportamento dos elementos para tornar elementos de GRID*/
    background: #ffffff;
    padding: 40px; /*desgrudar elementos da ponta*/
    text-align: right;
    position: relative; /*necessário para posicionar o detalhe em relação a esta DIV*/
    align-content: center; /*Alinha conteúdo ao centro (verticalmente)*/
    gap: 20px; 
    justify-items: end;/*Alinha itens na ponta*/
}
.introducao h1{
    font-size: 2rem;
}
.introducao::after{
    content:"";
    display: block;
    width: 60px;
    height:4px;
    background: #e21;
    position: absolute; /*Posiciona*/
    top: 30px; /*Distância em relação ao elemento PAI*/
    right: -30px;

}
.introducao-cover img{ /*Tem objetivo de manter altura da imagem ao diminuir a tela*/
    object-fit: cover;
    height: 100%;
}
.detalhe{
    width: 60px;
    height:4px;
    background: #e21;
    position: absolute; /*Posiciona*/
    top: 30px; /*Distância em relação ao elemento PAI*/
    right: -30px;
}
.botao{
    background: #e21;
    color: #fff;
    padding: 1rem 2rem;
}
.botao:hover{
    background:rgb(116, 15, 6);
    color: #fff;
}
.subtitulo{
    font-size: 4rem;
    color: #c6c6c6;
    text-align: right;
    padding: 40px;
    align-self: center; /*Alinha único elemento ao centro(verticalmente)*/
    background-image: url("img/onda.svg");
    /*word-break: break-all;*/
}
.vantagens{
    background-color: #fff;
    padding: 40px;
}   
.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr; /*'auto' define tamanho da coluna igual ao elemento*/
    gap: 10px 20px; /*Primeiro é distância entre linha e segundo entre colunas*/
    padding: 20px;
    border-left: 4px solid transparent;
}
.vantagens-item:hover{
    border-color: #e21;
    
}
.vantagens-item:nth-child(odd){
    background: #f7f7f7;
}
.vantagens-item p{
    grid-column: 2; /*coloca o elemento na segunda coluna*/
}
.rodape{
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}
@media(max-width: 1000px){ /*adicionou apenas uma coluna*/
    .conteudo-vantagem{
        grid-template-columns: 1fr;
    }
    .subtitulo{
        text-align: center;
    }
}
@media (max-width: 600px) {
    body{
    gap: 30px;
    margin-top: 20px;
    }
    .header{
        gap: 30px;
    }
    .conteudo{
        grid-template-columns: 1fr;
    }
    .introducao::after{
        display: none;
    }
    .introducao{
        text-align: left;
        justify-items: start;
    }
    .subtitulo{
        font-size: 3rem/;
    }
}
@media(max-width: 420px){
    .subtitulo{
        font-size: 2rem;
    }
    p{
        font-size: 2rem;
    }
}
